@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.line-divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
}
